@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-radial-gradient-in {
  background: transparent;
  background: radial-gradient(
    circle,
    hsl(var(--twc-surface)) 0%,
    /* transparent 10%, */ hsl(var(--twc-base)) 80%,
    hsl(var(--twc-base)) 100%
  );
}

.bg-radial-gradient-out {
  background: transparent;
  background: radial-gradient(
    circle,
    hsl(var(--twc-overlay)) 0%,
    /* hsl(var(--twc-pine)) 30%, */ hsl(var(--twc-base)) 80%,
    hsl(var(--twc-base)) 100%
  );
}

.blur-effect {
  backdrop-filter: blur(16px) saturate(150%);
  -webkit-backdrop-filter: blur(16px) saturate(150%);
}
