@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html[data-theme="default"] {
    --color-base: 249 22 12;
    --color-surface: 247 23 15;
    --color-overlay: 248 25 18;
    --color-muted: 249 12 47;
    --color-subtle: 248 15 61;
    --color-text: 245 50 91;
    --color-love: 343 76 68;
    --color-gold: 35 88 72;
    --color-rose: 2 55 83;
    --color-pine: 197 49 38;
    --color-foam: 189 43 73;
    --color-iris: 267 57 78;
    --color-highlight-low: 244 18 15;
    --color-highlight-med: 249 15 28;
    --color-highlight-high: 248 13 36;
  }
  html[data-theme="moon"] {
    --color-base: 246 24 17;
    --color-surface: 248 24 20;
    --color-overlay: 248 21 26;
    --color-muted: 249 12 47;
    --color-subtle: 248 15 61;
    --color-text: 245 50 91;
    --color-love: 343 76 68;
    --color-gold: 35 88 72;
    --color-rose: 2 66 75;
    --color-pine: 197 48 47;
    --color-foam: 189 43 73;
    --color-iris: 267 57 78;
    --color-highlight-low: 245 22 20;
    --color-highlight-med: 247 16 30;
    --color-highlight-high: 249 15 38;
  }
  html[data-theme="dawn"] {
    --color-base: 32 57 95;
    --color-surface: 35 100 98;
    --color-overlay: 33 43 91;
    --color-muted: 257 9 61;
    --color-subtle: 248 12 52;
    --color-text: 248 19 40;
    --color-love: 343 35 55;
    --color-gold: 35 81 56;
    --color-rose: 3 53 67;
    --color-pine: 197 53 34;
    --color-foam: 189 30 48;
    --color-iris: 268 21 57;
    --color-highlight-low: 25 35 93;
    --color-highlight-med: 10 9 86;
    --color-highlight-high: 315 4 80;
  }
}

body {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bg-radial-gradient-in {
  background: transparent;
  background: radial-gradient(
    circle,
    transparent 30%,
    hsl(var(--color-base)) 90%
  );
}

.bg-radial-gradient-out {
  background: transparent;
  background: radial-gradient(
    circle,
    hsl(var(--color-base)) 20%,
    transparent 70%
  );
}
